@media only screen and (max-width: 767px) {
    /* Default CSS */
    h1 {
        font-size: 3.2rem;
    }
    h2 {
        font-size: 2.8rem;
    }
    h3 {
        font-size: 2.4rem;
    }
    h4 {
        font-size: 2rem;
    }
    h5 {
        font-size: 1.8rem;
    }
    h6 {
        font-size: 1.6rem;
    }
    .ptb-100 {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    .pt-100 {
        padding-top: 5rem;
    }
    .ptb-70 {
        padding-top: 2rem;
        padding-bottom: 5rem;
    }
    .pb-100 {
        padding-bottom: 5rem;
    }
    .pt-70 {
        padding-top: 3rem;
    }
    .pb-70 {
        padding-bottom: 2rem;
    }
    .pt-45 {
        padding-top: 3rem;
    }
    .ml-20 {
        margin-left: 1rem;
    }
    .ml-25 {
        margin-left: 0;
    }
    .mr-20 {
        margin-right: 0;
    }
    .mt-30 {
        margin-top: 0;
    }
    .pe-0 {
        padding-right: calc(var(--bs-gutter-x) * 0.5) !important;
    }
    .default-btn {
        padding: 0.8rem 1.8rem;
    }
    .section-title span {
        font-size: 1.4rem;
    }
    .section-title h2 {
        font-size: 2.6rem;
        margin-top: 0;
    }
    .section-title p {
        margin-left: auto;
        margin-right: auto;
    }
    h3 {
        font-size: 1.8rem;
    }
    /* Default CSS End */
    /* Top Header CSS */
    .top-left-side {
        text-align: center;
    }
    .top-left-side .top-header-text {
        margin-left: auto;
        margin-right: auto;
    }
    .top-left-side .top-header-text::before {
        display: none;
    }
    .top-left-side .top-header-text p {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
    .top-header-right {
        float: none;
        text-align: center;
        margin-top: 0.5rem;
    }
    .top-header-right .language-list {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0.5rem;
    }
    .top-header-right .language-list::before {
        display: none;
    }
    .top-head-left {
        margin-top: 0.3rem;
        float: none;
        text-align: center;
    }
    /* Top Header CSS End */
    /* Navbar Area CSS  */
    .side-nav-responsive {
        display: block;
    }
    .d-display {
        display: none;
    }
    .mobile-nav .logo img {
        max-width: 6.3rem;
    }
    .search-overlay .search-form {
        max-width: 100%;
        width: 100%;
    }
    .search-overlay .search-form form .input-search {
        height: 5rem;
        padding: 0 0 0 1.5rem;
    }
    .search-overlay .search-form form button {
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        width: 4rem;
        height: 4rem;
        font-size: 1.8rem;
        line-height: 3.5rem;
    }
    /* Navbar Area CSS End */
    /* Main Banner Area CSS */
    .banner-slider-area {
        position: relative;
    }
    .banner-slider-area .owl-dots {
        display: inline-block;
        right: 0;
        left: 0;
        top: auto;
        bottom: 5.5rem;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
    .banner-slider-area .owl-dots .owl-dot span {
        margin: 0.7rem 0.7rem;
        width: 3rem !important;
        height: 3rem !important;
    }
    .banner-slider-area .owl-dots .owl-dot.active span {
        width: 3rem !important;
        height: 3rem !important;
    }
    .banner-slider-area .owl-dots .owl-dot:hover span {
        width: 3rem !important;
        height: 3rem !important;
    }
    .banner-item-content {
        padding-top: 14rem;
        padding-bottom: 13rem;
    }
    .banner-item-content span {
        font-size: 1.5rem;
        font-weight: 600;
        padding: 0.8rem 1.5rem;
    }
    .banner-item-content h1 {
        max-width: 100%;
        font-size: 3.5rem;
        margin-top: 2.5rem;
    }
    .banner-item-content p {
        font-size: 1.6rem;
        margin-bottom: 2.5rem;
    }
    .banner-item-ptb {
        padding-top: 13rem;
        padding-bottom: 7rem;
    }
    .banner-item-ptb h1 {
        margin-top: 0;
    }
    .banner-area::before {
        background-image: none;
        background-color: var(--color-black);
        opacity: 0.6;
    }
    .banner-content {
        padding-top: 12rem;
        margin-top: 0;
    }
    .banner-content h1 {
        font-size: 3.5rem;
        max-width: 100%;
    }
    .banner-content p {
        font-size: 1.6rem;
        max-width: 100%;
    }
    .banner-img {
        padding-top: 3rem;
    }
    .banner-img .banner-img-shape {
        display: none;
    }
    .banner-sub-slider {
        margin-top: 3rem;
        padding-bottom: 7rem;
    }
    .banner-sub-slider .banner-sub-item {
        padding: 1.5rem 1rem 1.5rem 13.5rem;
        max-width: 30rem;
    }
    .banner-sub-slider .banner-sub-item img {
        max-width: 10.7rem;
    }
    .banner-sub-slider .banner-sub-item .content {
        padding: 0.3rem 0 0.7rem;
    }
    .banner-sub-slider .banner-sub-item .content h3 {
        font-size: 3.5rem;
    }
    .banner-sub-slider .banner-sub-item .content span {
        font-size: 1.6rem;
    }
    .banner-four-area {
        padding: 13rem 0 5rem;
    }
    .banner-four-content {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3rem;
    }
    .banner-four-content span {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
    .banner-four-content h1 {
        font-size: 3.5rem;
        margin-bottom: 1.5rem;
    }
    .banner-four-content p {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
    .banner-four-content .banner-btn .default-btn {
        display: inline-block;
    }
    .banner-four-content .banner-btn .play-btn {
        padding-left: 5.5rem;
        position: relative;
        z-index: 1;
        top: 0;
    }
    .banner-four-content .banner-btn .play-btn i {
        position: absolute;
        top: -0.3rem;
        left: 0;
        width: 4rem;
        height: 4rem;
        line-height: 4rem;
        font-size: 1.8rem;
    }
    .banner-four-content .banner-btn .play-btn h3 {
        margin-bottom: 0.5rem;
        font-size: 1.4rem;
    }
    .banner-four-content .banner-btn .play-btn span {
        font-size: 1.2rem;
        -webkit-transition: 0.7s;
        transition: 0.7s;
        margin-bottom: 0;
    }
    .banner-four-img {
        margin-bottom: 0;
        text-align: center;
    }
    .banner-four-img img {
        text-align: center;
    }
    .banner-five-area {
        padding: 13rem 0 5rem;
    }
    .banner-five-content {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3rem;
    }
    .banner-five-content span {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
    .banner-five-content h1 {
        font-size: 3.5rem;
        margin-bottom: 1.5rem;
    }
    .banner-five-content p {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
    .banner-five-img {
        -webkit-animation: none;
        animation: none;
    }
    /* Main Banner Area CSS End */
    /* Banner Bottom Area CSS */
    .banner-bottom-area {
        position: inherit;
        margin-top: 5rem;
    }
    .banner-bottom-card {
        position: relative;
        padding: 2rem 1.5rem;
        text-align: center;
    }
    .banner-bottom-card i {
        position: inherit;
        top: 0;
        left: 0;
        right: 0;
        margin-bottom: 1rem;
    }
    /* Banner Bottom Area CSS End */
    .inner-banner .inner-title {
        padding-top: 12rem;
        padding-bottom: 6rem;
    }
    .inner-banner .inner-title h3 {
        font-size: 3rem;
    }
    .inner-banner .inner-shape {
        display: none;
    }
    /* About Area CSS */
    .about-img {
        margin-top: 3rem;
    }
    .about-img::before {
        display: none;
    }
    .about-img .sub-content {
        padding: 1.5rem 1rem 1.5rem 14.5rem;
        max-width: 29.5rem;
    }
    .about-img .sub-content img {
        max-width: 10.7rem;
    }
    .about-img .sub-content .content {
        padding: 0.5rem 0;
    }
    .about-img .sub-content .content h3 {
        font-size: 3.5rem;
    }
    .about-img .sub-content .content span {
        font-size: 1.6rem;
    }
    .about-content .about-list {
        margin: 2rem auto 1rem;
    }
    .about-content .section-title h2 {
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }
    .about-content .section-title p {
        max-width: 100%;
    }
    .about-content .about-list-2 {
        margin: 0 auto !important;
    }
    .about-content .about-content-card {
        margin-top: 2rem;
    }
    .about-content .about-content-card i {
        font-size: 4rem;
    }
    .about-content .about-content-card h3 {
        font-size: 1.8rem;
    }
    .about-content .about-content-card p {
        font-size: 1.4rem;
    }
    .about-content-2 .about-card {
        margin-top: 2rem;
    }
    .about-content-2 .about-card .content {
        padding-top: 0;
        padding-left: 0;
        margin-bottom: 0;
    }
    .about-content-2 .about-card .content i {
        font-size: 4rem;
        position: inherit;
        top: 0;
        left: 0;
        right: 0;
    }
    .about-content-2 .about-card .content h3 {
        margin-top: 1.5rem;
        font-size: 1.8rem;
        margin-bottom: 0;
    }
    .about-content-2 .about-card p {
        margin-top: 1.5rem;
        margin-bottom: 0;
        color: var(--color-text-white);
        font-size: 1.4rem;
    }
    .about-play {
        margin-bottom: 3rem;
    }
    .about-play img {
        border-radius: 1rem;
    }
    .about-play .about-play-content {
        margin-top: 3rem;
        position: inherit;
        background-color: var(--color-accent-link);
        border-radius: 1rem;
        padding: 4rem 3rem 6rem;
        max-width: 100%;
        text-align: center;
    }
    .about-play .about-play-content::before {
        display: none;
    }
    .about-play .about-play-content h2 {
        font-size: 2.4rem;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.8rem;
    }
    .about-play .about-play-content .play-on-area {
        position: inherit;
        top: 1.5rem;
        bottom: auto;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
    }
    .about-play .about-play-content .play-on-area .play-on {
        width: 6rem;
        height: 6rem;
        font-size: 3rem;
        line-height: 6.5rem;
    }
    .about-img-4 {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .about-content-3 {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .about-content-3 h3 {
        font-size: 1.8rem;
    }
    /* About Area CSS End */
    .choose-content {
        text-align: center;
    }
    .choose-content .choose-content-card .content {
        padding-top: 1rem;
        padding-left: 0;
    }
    .choose-content .choose-content-card .content i {
        position: inherit;
        top: 0;
        font-size: 4.5rem;
    }
    .choose-content .choose-content-card .content h3 {
        margin-top: 1.3rem;
        margin-bottom: 1rem;
        font-size: 1.8rem;
    }
    .choose-content .choose-content-card p {
        font-size: 1.4rem;
    }
    .choose-content-two .section-title p {
        padding-top: 1rem;
    }
    .choose-content-two .choose-content-card {
        padding-left: 0;
        margin-bottom: 3rem;
    }
    .choose-content-two .choose-content-card i {
        position: inherit;
        margin-bottom: 1.5rem;
        width: 6.5rem;
        height: 6.5rem;
        line-height: 6.5rem;
        font-size: 3rem;
        display: inline-block;
    }
    .choose-content-two .choose-content-card h3 {
        margin-bottom: 1rem;
    }
    .choose-content-two .choose-content-card p {
        margin-bottom: 0;
        max-width: 100%;
    }
    .choose-img-two {
        padding-right: 0;
        padding-bottom: 0;
    }
    .choose-img-two::before {
        display: none;
    }
    .counter-content h1 {
        font-size: 6.5rem;
    }
    .counter-content h3 {
        font-size: 1.8rem;
    }
    .contact-info {
        padding: 3rem 1.5rem 1rem;
    }
    .contact-info ul li {
        margin-bottom: 2rem;
    }
    /* Security Area CSS */
    .security-card {
        padding: 3rem 2rem;
    }
    .security-card i {
        width: 6.5rem;
        height: 6.5rem;
        line-height: 6.5rem;
        font-size: 2.8rem;
    }
    /* Security Area CSS End */
    .technology-card i {
        font-size: 4rem;
    }
    .technology-card h3 {
        font-size: 1.8rem;
    }
    .technology-area-four .section-title {
        margin-bottom: 2rem;
    }
    .technology-area-four .section-title p {
        padding-top: 1.2rem;
    }
    .technology-item {
        padding: 1.2rem 1rem 1rem;
    }
    .technology-item i {
        font-size: 3rem;
    }
    .technology-item h3 {
        margin-top: 1.5rem;
        font-size: 1.6rem;
    }
    .technology-play-area {
        padding: 10rem 0;
        margin-left: 0;
    }
    .technology-play-area .play-btn i {
        width: 6rem;
        height: 6rem;
        line-height: 6rem;
        font-size: 3rem;
    }
    /* Service Area CSS */
    .services-card {
        text-align: center;
    }
    .service-shape {
        display: none;
    }
    .services-item {
        text-align: center;
    }
    .services-item .content {
        width: 95%;
        padding: 9.5rem 2rem 2rem;
    }
    .services-item .content i {
        display: inherit;
        top: 2.5rem;
        left: 0;
        right: 0;
        text-align: center;
    }
    .services-item .content h3 {
        font-size: 1.8rem;
    }
    .service-article .service-article-content .service-article-rs {
        margin: 0 0 0.8rem;
    }
    .services-left .section-title {
        margin-bottom: 1.5rem;
    }
    .services-left .section-title p {
        padding-top: 1.2rem;
    }
    /* Service Area CSS End */
    .case-study-item .content ul li {
        font-size: 1.3rem;
    }
    .case-study-item .content ul li::before {
        width: 0.15rem;
        height: 1.3rem;
    }
    /* Blog Area CSS */
    .blog-article .blog-article-title ul li {
        margin-right: 1rem;
        margin-bottom: 0.5rem;
    }
    .blog-article .article-content .blockquote {
        margin-left: 0;
        padding: 2rem 3rem;
    }
    .blog-article .article-content .blockquote i {
        display: none;
    }
    .blog-article .blog-article-share .blog-tag ul li {
        padding: 0.5rem 0;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }
    .blog-article .blog-article-share .blog-tag ul li a {
        padding: 0.6rem 1.2rem;
    }
    .blog-article .blog-article-share .social-icon {
        float: none;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }
    .blog-article .comments-wrap .comment-list li {
        padding-left: 0;
    }
    .blog-article .comments-wrap .comment-list li img {
        position: inherit;
        top: 0;
        left: 0;
        margin-bottom: 1rem;
    }
    .blog-article .comments-wrap .comment-list li h3 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .blog-article .comments-wrap .comment-list li p {
        margin-bottom: 1rem;
    }
    .blog-article .comments-wrap .comment-list li a {
        color: var(--color-accent-link);
        font-weight: 600;
        position: inherit;
        top: 0;
        left: 0;
    }
    .blog-style-card .content ul li {
        margin-right: 0.5rem;
    }
    .blog-style-card .content ul li i {
        margin-right: 0.5rem;
    }
    .blog-card .blog-img .blog-tag {
        padding: 1rem 0.7rem;
    }
    .blog-card .blog-img .blog-tag h3 {
        font-size: 1.4rem;
    }
    .blog-card .content ul li {
        font-size: 1.4rem;
    }
    .blog-card .content ul li i {
        font-size: 1.5rem;
    }
    .blog-card .content h3 {
        font-size: 2.1rem;
    }
    .blog-card .content .read-btn {
        font-size: 1.4rem;
    }
    /* Blog Area CSS End */
    /* Work Process Area CSS */
    .work-process-card {
        text-align: center;
    }
    .work-process-left {
        padding: 5rem 2.5rem;
        text-align: center;
    }
    .work-process-area-two {
        position: relative;
    }
    .work-process-area-two .col-lg-3:nth-child(2) .work-process-card {
        margin-top: 0;
    }
    .work-process-area-two .col-lg-3:nth-child(4) .work-process-card {
        margin-top: 0;
    }
    .work-shape {
        display: none;
    }
    .work-process-card-two {
        padding: 2rem 1.5rem 2.5rem;
        margin-bottom: 3rem;
    }
    .work-process-card-two .number-title {
        font-size: 2.6rem;
        margin-bottom: 0.5rem;
    }
    .work-process-card-two h3 {
        margin-bottom: 1rem;
    }
    .work-process-card-three {
        padding: 2rem 1.5rem 2.5rem;
    }
    .work-process-card-three::before {
        width: 7.5rem;
        height: 6.5rem;
    }
    .work-process-card-three .number-title {
        font-size: 2.6rem;
        margin-bottom: 0.5rem;
    }
    .work-process-card-three h3 {
        margin-bottom: 1rem;
    }
    .work-process-card-three i {
        font-size: 2.5rem;
    }
    .work-process-right {
        padding: 5rem 2.5rem;
    }
    .work-process-right .section-title {
        margin-bottom: 2rem;
    }
    /* Work Process Area CSS End */
    .build-content {
        text-align: center;
    }
    .build-btn-area {
        float: none;
        text-align: center;
    }
    .case-article .case-article-content .case-article-rs {
        margin: 0 0 0.8rem;
    }
    /* Build Area CSS */
    .build-btn-area {
        float: none;
        margin-top: 2rem;
    }
    .build-item .content ul li {
        font-size: 1.3rem;
    }
    .build-play-img img {
        border-radius: 1rem;
    }
    .build-play-img .play-area-content {
        margin-top: 3rem;
        position: inherit;
        background-color: var(--color-accent-link);
        border-radius: 1rem;
        padding: 4rem 3rem;
        max-width: 100%;
        text-align: center;
    }
    .build-play-img .play-area-content::before {
        display: none;
    }
    .build-play-img .play-area-content h2 {
        font-size: 2.4rem;
        margin-left: auto;
        margin-right: auto;
    }
    .build-play-img .play-area {
        position: absolute;
        z-index: 1;
        top: 18%;
        bottom: auto;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
    }
    .build-play-img .play-area .play-on {
        width: 6rem;
        height: 6rem;
        font-size: 3rem;
        line-height: 6.3rem;
    }
    .build-text {
        margin-bottom: 2.5rem;
        margin-top: 2rem;
        text-align: center;
    }
    .play-btn-area {
        padding-top: 11rem;
        padding-bottom: 11rem;
    }
    /* Build Area CSS End */
    /* Counter Area CSS */
    .counter-shape {
        display: none;
    }
    .counter-content h1 {
        font-size: 8.5rem;
    }
    .counter-another-content {
        margin-bottom: 2rem;
        padding-left: 0;
        position: relative;
        text-align: center;
    }
    .counter-another-content i {
        font-size: 4rem;
        position: inherit;
        right: 0;
    }
    .counter-another-content h3 {
        font-size: 2.6rem;
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
    }
    .counter-another-content span {
        font-size: 1.5rem;
    }
    /* Counter Area CSS End */
    .client-circle {
        display: none;
    }
    .clients-content {
        padding: 3rem 1.5rem;
    }
    .clients-area .owl-nav {
        margin-top: 0;
        margin-bottom: 3rem;
    }
    .clients-area .owl-nav .owl-prev {
        top: auto;
        position: inherit;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        left: 0;
        font-size: 2rem !important;
        bottom: -3rem;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 5rem;
        line-height: 3.8rem !important;
    }
    .clients-area .owl-nav .owl-next {
        top: auto;
        position: inherit;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        right: 0;
        font-size: 2rem !important;
        bottom: -3rem;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 5rem;
        line-height: 3.8rem !important;
    }
    .clients-area-three {
        padding-bottom: 4.5rem;
    }
    .clients-area-three .owl-nav {
        margin-top: 0;
    }
    .clients-area-three .owl-nav .owl-prev {
        position: inherit;
        bottom: 0;
        left: 0;
        font-size: 2rem !important;
        width: 3.2rem;
        height: 3.2rem;
        line-height: 3.4rem !important;
    }
    .clients-area-three .owl-nav .owl-next {
        position: inherit;
        bottom: 9rem;
        font-size: 2rem !important;
        width: 3.2rem;
        height: 3.2rem;
        line-height: 3.4rem !important;
    }
    .clients-slider-img {
        margin-bottom: 3rem;
    }
    .clients-slider-img img {
        text-align: center;
    }
    .clients-slider-img .clients-slider-circle {
        height: 60%;
        left: 0;
        -webkit-animation: none;
        animation: none;
        background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(var(--color-accent-link)),
            to(var(--color-navy-deep))
        );
        background-image: linear-gradient(var(--color-accent-link), var(--color-navy-deep));
    }
    .clients-slider-content {
        margin-bottom: 2rem;
        text-align: center;
    }
    .clients-slider-content i {
        width: 5rem;
        height: 5rem;
        line-height: 5.2rem;
        font-size: 2.6rem;
        margin-bottom: 2rem;
        margin-left: auto;
        margin-right: auto;
    }
    .clients-slider-content p {
        margin-bottom: 2rem;
        font-size: 1.6rem;
    }
    .clients-slider-content h3 {
        margin-bottom: 0.5rem;
    }
    .blog-card .content {
        padding: 2rem;
    }
    /* Error Area CSS */
    .error-area {
        height: 100vh;
        padding-top: 7rem;
        padding-bottom: 7rem;
    }
    .error-area .error-content h3 {
        margin-bottom: 1rem;
        font-size: 2.5rem;
    }
    .error-area .error-content p {
        font-size: 1.6rem;
        padding: 0 1.5rem;
    }
    /* Error Area CSS End */
    /* Coming Soon */
    .coming-soon-area .coming-soon-content {
        padding-top: 3rem;
        padding-bottom: 2rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .coming-soon-area .coming-soon-content h1 {
        font-size: 3rem;
        line-height: 1.1;
        margin-top: 0;
    }
    .coming-soon-area .coming-soon-content p {
        font-size: 1.4rem;
        margin-top: 1.5rem;
    }
    .coming-soon-area .coming-soon-content #timer {
        margin-top: 3rem;
    }
    .coming-soon-area .coming-soon-content #timer div {
        font-size: 3rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-bottom: 1.5rem;
    }
    .coming-soon-area .coming-soon-content #timer div span {
        font-size: 1.4rem;
        margin-top: -0.5rem;
    }
    .coming-soon-area .coming-soon-content #timer div::before {
        display: none;
    }
    .coming-soon-area .coming-soon-content .newsletter-form {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .coming-soon-area .coming-soon-content .newsletter-form .input-newsletter {
        height: 5.5rem;
        padding-left: 1.3rem;
        font-size: 1.5rem;
    }
    .coming-soon-area .coming-soon-content .newsletter-form button {
        position: relative;
        font-size: 1.4rem;
        margin-top: 1.5rem;
        width: 100%;
        height: 5rem;
    }
    /* Coming Soon End */
    /* Footer Area */
    .footer-widget h3 {
        margin-bottom: 2rem;
    }
    .footer-widget .footer-call-content {
        max-width: 100%;
    }
    .footer-widget .footer-call-content h3 {
        font-size: 2rem;
    }
    .footer-widget .footer-call-content i {
        top: 1.5rem;
    }
    .footer-widget p {
        max-width: 100%;
    }
    /* Footer Area End */
    .banner-six::before {
        background-image: none;
        background-color: var(--color-navy-deep);
        opacity: 0.7;
    }
    .banner-six-content {
        padding-top: 12.5rem;
        padding-bottom: 5rem;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .banner-six-content h1 {
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }
    .banner-six-content p {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
    .banner-six-shape {
        display: none;
    }
    .about-img-5::before {
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        height: 70%;
        -webkit-animation: 0;
        animation: 0;
    }
    .team-item .content .social-link li a {
        width: 2.8rem;
        height: 2.85rem;
        line-height: 3rem;
    }
    .case-study-item2 .icon-services {
        font-size: 4.5rem;
        margin-bottom: 1rem;
    }
    .case-study-item2 .more-btn {
        width: 3rem;
        height: 3rem;
        line-height: 3.9rem;
        font-size: 1.6rem;
        border-top-left-radius: 1.4rem;
        border-bottom-right-radius: 0rem;
    }
    .case-study-item2 h3 {
        margin-bottom: 1rem;
    }
    .footer-widget .social-link ul li a {
        width: 2.8rem;
        height: 2.8rem;
        line-height: 3.2rem;
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 575px) {
    .banner-item-content {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .banner-four-area .container-fluid,
    .banner-five-area .container-fluid,
    .about-area .container-fluid {
        width: 54rem;
    }
    .build-play-img .play-area {
        top: 27%;
    }
    .blog-article .blog-article-title ul li {
        margin-right: 1rem;
        margin-bottom: 0.5rem;
    }
    .blog-article .article-content .blockquote {
        margin-left: 0;
        padding: 2rem 3rem;
    }
    .blog-article .article-content .blockquote i {
        display: none;
    }
    .blog-article .blog-article-share .blog-tag ul li {
        padding: 0.5rem 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    .blog-article .blog-article-share .social-icon {
        float: right;
        margin-bottom: 0;
    }
    /* Footer Area */
    .footer-widget .footer-call-content {
        padding: 2rem 7rem 2rem 1.5rem;
    }
    .footer-widget .footer-call-content h3 {
        font-size: 1.6rem;
    }
    .footer-widget .footer-call-content i {
        top: 2.2rem;
        right: 1.5rem;
        width: 4.5rem;
        height: 4.5rem;
        line-height: 4.5rem;
        font-size: 2.4rem;
    }
    .footer-widget .footer-call-content span a {
        font-size: 1.3rem;
    }
    .footer-widget .footer-blog li h3 {
        font-size: 1.5rem;
    }
    /* Footer Area End */
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* Default CSS */
    .ptb-100 {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    .pt-100 {
        padding-top: 5rem;
    }
    .ptb-70 {
        padding-top: 2rem;
        padding-bottom: 5rem;
    }
    .pb-100 {
        padding-bottom: 5rem;
    }
    .pt-70 {
        padding-top: 3rem;
    }
    .pb-70 {
        padding-bottom: 2rem;
    }
    .pt-45 {
        padding-top: 3rem;
    }
    .pe-0 {
        padding-right: calc(var(--bs-gutter-x) * 0.5) !important;
    }
    .mt-30 {
        margin-top: 0;
    }
    .ml-25 {
        margin-left: 0;
    }
    .ml-20 {
        margin-left: 1rem;
    }
    .mr-20 {
        margin-right: 0;
    }
    .default-btn {
        padding: 0.8rem 1.8rem;
    }
    .section-title span {
        font-size: 1.4rem;
        list-style: 0;
        padding: 0;
        margin: 0;
    }
    .section-title h2 {
        font-size: 2.6rem;
        margin-top: 0;
    }
    .section-title p {
        margin-left: auto;
        margin-right: auto;
    }
    h3 {
        font-size: 2.1rem;
    }
    .banner-four-area .container-fluid,
    .banner-five-area .container-fluid,
    .about-area .container-fluid {
        width: 72rem;
    }
    /* Default CSS End */
    .about-play {
        margin-bottom: 3rem;
    }
    .work-process-left {
        text-align: center;
    }
    .side-nav-responsive {
        display: block;
    }
    .d-display {
        display: none;
    }
    .mobile-nav .logo img {
        max-width: 14rem;
    }
    .top-header-right .language-list {
        margin-left: -1.5rem;
    }
    .about-content-2 .section-title h2,
    .about-content-2 .section-title p {
        max-width: 100%;
    }
    /* Navbar Area CSS  */
    .side-nav-responsive {
        display: block;
    }
    .d-display {
        display: none;
    }
    .mobile-nav .logo img {
        max-width: 14rem;
    }
    /* Navbar Area CSS End */
    /* Main Banner Area CSS */
    .banner-slider-area {
        position: relative;
    }
    .banner-slider-area .owl-dots {
        display: inline-block;
        right: 0;
        left: 0;
        top: auto;
        bottom: 5.5rem;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
    .banner-item-content {
        padding-top: 22rem;
        padding-bottom: 22rem;
        text-align: center;
    }
    .banner-item-content span {
        font-size: 1.5rem;
        font-weight: 600;
        padding: 0.8rem 1.5rem;
    }
    .banner-item-content h1 {
        font-size: 3.5rem;
        max-width: 100%;
    }
    .banner-item-content p {
        font-size: 1.6rem;
        margin-left: auto;
        margin-right: auto;
    }
    .banner-item-ptb {
        padding-top: 25rem;
        padding-bottom: 19rem;
    }
    .banner-content {
        padding-top: 12rem;
        margin-top: 0;
        text-align: center;
    }
    .banner-content h1 {
        font-size: 3.5rem;
        margin-left: auto;
        margin-right: auto;
    }
    .banner-content p {
        font-size: 1.6rem;
        margin-left: auto;
        margin-right: auto;
    }
    .banner-area::before {
        background-image: none;
        background-color: var(--color-black);
        opacity: 0.6;
    }
    .banner-img {
        padding-top: 3rem;
    }
    .banner-img .banner-img-shape {
        display: none;
    }
    .banner-sub-slider {
        padding-bottom: 7rem;
    }
    .banner-four-area {
        padding: 13rem 0 5rem;
    }
    .banner-four-content {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3rem;
    }
    .banner-four-content span {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
    .banner-four-content h1 {
        font-size: 3.5rem;
        margin-bottom: 1.5rem;
    }
    .banner-four-content p {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
    .banner-four-content .banner-btn .default-btn {
        display: inline-block;
    }
    .banner-four-content .banner-btn .play-btn {
        padding-left: 5.5rem;
        position: relative;
        z-index: 1;
        top: 0;
    }
    .banner-four-content .banner-btn .play-btn i {
        position: absolute;
        top: -0.3rem;
        left: 0;
        width: 4rem;
        height: 4rem;
        line-height: 4rem;
        font-size: 1.8rem;
    }
    .banner-four-content .banner-btn .play-btn h3 {
        margin-bottom: 0.5rem;
        font-size: 1.4rem;
    }
    .banner-four-content .banner-btn .play-btn span {
        font-size: 1.2rem;
        -webkit-transition: 0.7s;
        transition: 0.7s;
        margin-bottom: 0;
    }
    .banner-four-img {
        margin-bottom: 0;
        text-align: center;
    }
    .banner-four-img img {
        text-align: center;
    }
    .banner-five-area {
        padding: 13rem 0 5rem;
    }
    .banner-five-content {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3rem;
    }
    .banner-five-content span {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
    .banner-five-content h1 {
        font-size: 3.5rem;
        margin-bottom: 1.5rem;
    }
    .banner-five-content p {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
    .banner-five-img {
        -webkit-animation: none;
        animation: none;
    }
    /* Main Banner Area CSS End */
    /* Banner Bottom Area CSS */
    .banner-bottom-area {
        position: inherit;
        margin-top: 5rem;
    }
    .banner-bottom-card {
        position: relative;
        padding: 2rem 1.5rem;
        text-align: center;
    }
    .banner-bottom-card i {
        position: inherit;
        top: 0;
        left: 0;
        right: 0;
        margin-bottom: 1rem;
    }
    /* Banner Bottom Area CSS End */
    .inner-banner .inner-title h3 {
        font-size: 3.5rem;
    }
    .about-img {
        margin-top: 3rem;
    }
    .about-img::before {
        right: -1.5rem;
    }
    .about-content {
        text-align: center;
    }
    .about-content .section-title h2 {
        margin-left: auto;
        margin-right: auto;
    }
    .about-content-2 .section-title p {
        margin-left: 0;
        margin-right: unset;
    }
    .about-img-4 {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .about-content-3 {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .about-content-3 h3 {
        font-size: 1.8rem;
    }
    .about-content-3 .section-title p {
        margin-left: 0;
    }
    .services-card {
        padding: 3rem 3rem 2.5rem;
    }
    .service-shape {
        display: none;
    }
    .services-item {
        text-align: center;
    }
    .services-item .content {
        width: 90%;
        padding: 2rem 1.5rem 2rem 9.2rem;
    }
    .services-item .content h3 {
        font-size: 2rem;
    }
    .services-left .section-title {
        margin-bottom: 1.5rem;
    }
    .services-left .section-title p {
        padding-top: 1.2rem;
        margin-left: 0;
    }
    .choose-content .section-title p {
        margin-left: 0;
        margin-right: unset;
    }
    .contact-info {
        padding: 4rem 2rem 1rem;
    }
    .work-process-card {
        padding: 3rem 3.2rem;
    }
    .work-process-left {
        padding: 5rem 3rem;
    }
    .work-process-left .section-title h2 {
        font-size: 2.5rem;
    }
    .work-process-area-two {
        position: relative;
    }
    .work-process-area-two .col-lg-3:nth-child(2) .work-process-card {
        margin-top: 0;
    }
    .work-process-area-two .col-lg-3:nth-child(4) .work-process-card {
        margin-top: 0;
    }
    .work-shape {
        display: none;
    }
    .work-process-card-two {
        padding: 2.5rem 2rem 3rem;
        margin-bottom: 3rem;
    }
    .work-process-card-two .number-title {
        font-size: 2.6rem;
        margin-bottom: 0.5rem;
    }
    .work-process-card-two h3 {
        margin-bottom: 1rem;
    }
    .work-process-right {
        padding: 5rem 2.5rem;
    }
    .work-process-right .section-title {
        margin-bottom: 2rem;
    }
    .build-play-img .play-area-content {
        padding: 10rem 7rem 6.5rem 3rem;
        max-width: 33rem;
    }
    .build-play-img .play-area-content::before {
        width: 91%;
        height: 88.7%;
    }
    .build-play-img .play-area-content h2 {
        font-size: 2.8rem;
    }
    .play-area {
        bottom: 14.5rem;
        left: 19rem;
    }
    .technology-area-three .section-title p {
        margin-left: 0;
    }
    .technology-area-four .section-title p {
        margin-left: 0;
    }
    .technology-play-area {
        padding: 15rem 0;
        margin-left: 0;
    }
    .technology-play-area .play-btn i {
        width: 6rem;
        height: 6rem;
        line-height: 6rem;
        font-size: 3rem;
    }
    .counter-shape {
        display: none;
    }
    .counter-content h1 {
        font-size: 6.5rem;
    }
    .counter-content h3 {
        font-size: 1.8rem;
    }
    .choose-content-two .section-title {
        margin-bottom: 2rem;
    }
    .choose-content-two .section-title p {
        margin-left: 0;
    }
    .choose-content-two .choose-content-card {
        padding-left: 7.8rem;
        margin-bottom: 3rem;
    }
    .choose-content-two .choose-content-card i {
        width: 6rem;
        height: 6rem;
        line-height: 6rem;
        font-size: 3rem;
        display: inline-block;
    }
    .choose-content-two .choose-content-card h3 {
        margin-bottom: 1rem;
    }
    .choose-content-two .choose-content-card p {
        margin-bottom: 0;
        max-width: 100%;
    }
    .counter-another-content {
        margin-bottom: 2rem;
        padding-left: 0;
        position: relative;
        text-align: center;
    }
    .counter-another-content i {
        font-size: 4.5rem;
        position: inherit;
        right: 0;
    }
    .counter-another-content h3 {
        font-size: 3rem;
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
    }
    .counter-another-content span {
        font-size: 1.5rem;
    }
    .client-circle {
        display: none;
    }
    .clients-area .owl-nav {
        margin-top: 0;
        margin-bottom: 5.5rem;
    }
    .clients-area .owl-nav .owl-prev {
        top: auto;
        position: inherit;
        font-size: 2rem !important;
        bottom: -3rem;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 5rem;
        line-height: 3.8rem !important;
    }
    .clients-area .owl-nav .owl-next {
        top: auto;
        position: inherit;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        font-size: 2rem !important;
        bottom: -3rem;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 5rem;
        line-height: 3.8rem !important;
    }
    .clients-area-three {
        padding-bottom: 4.5rem;
    }
    .clients-area-three .owl-nav {
        margin-top: 0;
    }
    .clients-area-three .owl-nav .owl-prev {
        position: inherit;
        bottom: 0;
        left: 0;
        font-size: 2rem !important;
        width: 3.2rem;
        height: 3.2rem;
        line-height: 3.4rem !important;
    }
    .clients-area-three .owl-nav .owl-next {
        position: inherit;
        bottom: 9rem;
        font-size: 2rem !important;
        width: 3.2rem;
        height: 3.2rem;
        line-height: 3.4rem !important;
    }
    .clients-slider-img {
        margin-bottom: 3rem;
    }
    .clients-slider-img img {
        text-align: center;
    }
    .clients-slider-img .clients-slider-circle {
        height: 60%;
        left: 0;
        -webkit-animation: none;
        animation: none;
        background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(var(--color-accent-link)),
            to(var(--color-navy-deep))
        );
        background-image: linear-gradient(var(--color-accent-link), var(--color-navy-deep));
    }
    .clients-slider-content {
        margin-bottom: 2rem;
        text-align: center;
    }
    .clients-slider-content i {
        width: 5rem;
        height: 5rem;
        line-height: 5.2rem;
        font-size: 2.6rem;
        margin-bottom: 2rem;
        margin-left: auto;
        margin-right: auto;
    }
    .clients-slider-content p {
        margin-bottom: 2rem;
        font-size: 1.6rem;
    }
    .clients-slider-content h3 {
        margin-bottom: 0.5rem;
    }
    /* Error Area CSS */
    .error-area {
        height: 100vh;
        padding-top: 7rem;
        padding-bottom: 7rem;
    }
    .error-area .error-content h3 {
        margin-bottom: 1rem;
        font-size: 2.5rem;
    }
    .error-area .error-content p {
        font-size: 1.6rem;
        padding: 0 1.5rem;
    }
    /* Error Area CSS End */
    .banner-six::before {
        background-image: none;
        background-color: var(--color-navy-deep);
        opacity: 0.7;
    }
    .banner-six-content {
        padding-top: 12.5rem;
        padding-bottom: 5rem;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .banner-six-content h1 {
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }
    .banner-six-content p {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
    .banner-six-shape {
        display: none;
    }
    .about-img-5::before {
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        height: 70%;
        -webkit-animation: 0;
        animation: 0;
    }
    .team-item .content .social-link li a {
        width: 2.9rem;
        height: 2.97rem;
        line-height: 3.1rem;
    }
    .case-study-item2 .icon-services {
        font-size: 4.5rem;
        margin-bottom: 1rem;
    }
    .case-study-item2 .more-btn {
        width: 3rem;
        height: 3rem;
        line-height: 3.9rem;
        font-size: 1.6rem;
        border-top-left-radius: 1.4rem;
        border-bottom-right-radius: 0rem;
    }
    .case-study-item2 h3 {
        margin-bottom: 1rem;
    }
    .work-process-rightside .section-title p {
        margin-left: 0;
    }
    .footer-widget .social-link ul li a {
        width: 2.8rem;
        height: 2.8rem;
        line-height: 3.2rem;
        font-size: 1.6rem;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .main-nav .navbar .navbar-brand img {
        max-width: 14rem;
    }
    .main-nav nav .navbar-nav .nav-item a {
        margin-left: 0.8rem;
        margin-right: 0.8rem;
    }
    .main-nav .nav-side .nav-side-item {
        margin-right: 1rem;
    }
    .main-nav .nav-side .nav-side-item .search-side-widget {
        max-width: 19rem;
    }
    .main-nav .nav-side .nav-side-item .get-btn .default-btn {
        padding: 0.9rem 1.5rem;
    }
    .top-left-side .top-header-social ul li a {
        width: 2.4rem;
        height: 2.4rem;
        line-height: 2.6rem;
        font-size: 1.6rem;
    }
    .top-left-side .top-header-text {
        margin-left: 2.5rem;
    }
    .top-left-side .top-header-text::before {
        left: -1.6rem;
        width: 0.1rem;
        height: 2rem;
    }
    .top-left-side .top-header-text p {
        font-size: 1.3rem;
    }
    .top-header-right .top-contact {
        padding-left: 3.5rem;
    }
    .top-header-right .top-contact i {
        font-size: 1.5rem;
        width: 2.4rem;
        height: 2.4rem;
        line-height: 2.4rem;
    }
    .top-header-right .top-contact h3 {
        font-size: 1.3rem;
        color: var(--color-text-white);
        margin-bottom: 0;
    }
    .top-header-right .language-list {
        margin-left: -1.5rem;
        top: -0.5rem;
    }
    .top-header-right .language-list .nice-select {
        font-size: 1.3rem;
    }
    .top-header-right .language-list .nice-select::after {
        font-size: 1.5rem;
    }
    .banner-slider-area .owl-dots {
        bottom: 0%;
    }
    .banner-item-content {
        max-width: 60rem;
    }
    .banner-item-content h1 {
        font-size: 5.5rem;
    }
    .banner-item-content p {
        font-size: 1.7rem;
    }
    .banner-bottom-card {
        padding: 3rem 2rem 3rem 10rem;
    }
    .banner-bottom-card i {
        position: absolute;
        top: 3rem;
        left: 2rem;
        font-size: 4rem;
        width: 6.5rem;
        height: 6.5rem;
        line-height: 6.5rem;
    }
    .banner-bottom-card h3 {
        font-size: 2rem;
    }
    .banner-content {
        margin-top: -2rem;
    }
    .banner-content h1 {
        font-size: 4.4rem;
    }
    .banner-sub-slider {
        margin-top: -5rem;
    }
    .banner-sub-slider .banner-sub-item {
        padding: 1.5rem 1rem 1.5rem 14rem;
        width: 100%;
    }
    .banner-sub-slider .banner-sub-item img {
        max-width: 10.7rem;
    }
    .banner-sub-slider .banner-sub-item h3 {
        font-size: 3.5rem;
    }
    .banner-sub-slider .banner-sub-item span {
        font-size: 1.5rem;
    }
    .banner-img .banner-img-shape {
        bottom: 7rem;
    }
    .banner-img .banner-img-shape img {
        max-width: 13rem;
    }
    .banner-content p {
        font-size: 1.6rem;
    }
    .banner-four-content {
        max-width: 50rem;
    }
    .banner-four-content span {
        font-size: 1.4rem;
    }
    .banner-four-content h1 {
        font-size: 4rem;
    }
    .banner-four-content p {
        font-size: 1.6rem;
        margin-bottom: 2.5rem;
    }
    .banner-five-content {
        max-width: 45rem;
    }
    .banner-five-content span {
        font-size: 1.4rem;
    }
    .banner-five-content h1 {
        font-size: 4rem;
    }
    .banner-five-content p {
        font-size: 1.6rem;
        margin-bottom: 2.5rem;
    }
    .blog-card .content {
        padding: 3rem 2.5rem;
    }
    .about-content-2 .about-card .content h3 {
        font-size: 2rem;
    }
    .about-img::before {
        right: -2rem;
    }
    .choose-content .choose-content-card .content {
        padding-left: 6rem;
    }
    .choose-content .choose-content-card .content i {
        font-size: 4.5rem;
    }
    .choose-content .choose-content-card .content h3 {
        font-size: 2rem;
        margin-top: 0;
        margin-bottom: 1.5rem;
    }
    .services-card {
        padding: 3rem 2rem 2.5rem;
    }
    .services-card h3 {
        font-size: 2rem;
    }
    .service-shape img {
        max-width: 28rem;
    }
    .services-item .content {
        width: 95%;
        padding: 2rem 1.5rem 2rem 9.2rem;
    }
    .services-item .content h3 {
        font-size: 2rem;
    }
    .call-contact p {
        font-size: 1.8rem;
    }
    .work-process-left {
        padding: 17rem 2.5rem;
    }
    .work-process-right {
        padding: 14.5rem 2.5rem;
    }
    .work-process-card {
        padding: 3rem 2rem;
    }
    .work-process-card h3 {
        font-size: 2rem;
    }
    .work-process-card-two {
        padding: 3rem 2.3rem;
    }
    .work-process-card-three {
        padding: 2rem 1.5rem 2.5rem;
    }
    .work-process-card-three::before {
        width: 7.5rem;
        height: 6.5rem;
    }
    .work-process-card-three .number-title {
        font-size: 2.6rem;
        margin-bottom: 0.5rem;
    }
    .work-process-card-three h3 {
        margin-bottom: 1rem;
    }
    .work-process-card-three i {
        font-size: 2.5rem;
    }
    .work-shape img {
        max-width: 97.5rem;
    }
    .counter-shape .shape1 img {
        max-width: 16rem;
    }
    .counter-shape .shape2 img {
        max-width: 16rem;
    }
    .counter-another-content {
        padding-left: 8.5rem;
    }
    .counter-another-content span {
        font-size: 1.5rem;
    }
    .client-circle .client-circle-2 {
        top: 30%;
    }
    .clients-area .owl-nav .owl-prev {
        left: -2rem;
        width: 3.5rem;
        height: 3.5rem;
        line-height: 3.5rem !important;
    }
    .clients-area .owl-nav .owl-next {
        right: -2rem;
        width: 3.5rem;
        height: 3.5rem;
        line-height: 3.5rem !important;
    }
    .clients-area-three .owl-nav {
        margin-top: 0;
    }
    .clients-area-three .owl-nav .owl-prev {
        left: 47.5rem;
        font-size: 2.5rem !important;
        -webkit-transition: 0.7s;
        transition: 0.7s;
        width: 3.5rem;
        height: 3.5rem;
        line-height: 3.5rem !important;
    }
    .clients-area-three .owl-nav .owl-next {
        left: 51.5rem;
        font-size: 2.4rem !important;
        -webkit-transition: 0.7s;
        transition: 0.7s;
        width: 3.5rem;
        height: 3.5rem;
        line-height: 3.5rem !important;
    }
    .clients-slider-content {
        margin-bottom: 7rem;
    }
    .clients-slider-content i {
        width: 6rem;
        height: 6rem;
        line-height: 6.2rem;
        font-size: 3rem;
        margin-bottom: 3rem;
    }
    .clients-slider-content p {
        margin-bottom: 2rem;
        font-size: 1.6rem;
    }
    .clients-slider-content h3 {
        margin-bottom: 0.5rem;
    }
    .call-shape .shape1 {
        left: 2rem;
    }
    .call-shape .shape2 {
        right: 0;
    }
    .call-shape .shape2 img {
        max-width: 10rem;
    }
    .call-shape .shape2-rs {
        right: 2.5rem;
    }
    .call-shape .shape2-rs img {
        max-width: 12rem;
    }
    .client-circle .client-circle-1 {
        left: 4.5rem;
    }
    .client-circle .client-circle-3 {
        top: 87%;
        left: 2%;
    }
    .client-circle .client-circle-6 {
        top: 87%;
        right: 2rem;
    }
    .footer-widget .footer-list li a {
        color: var(--color-text-white);
        font-weight: 400;
        font-size: 1.4rem;
    }
    .footer-widget .footer-list li a i {
        margin-right: 0;
        font-size: 1.6rem;
    }
    .footer-widget .footer-call-content h3 {
        font-size: 2rem;
    }
    .footer-widget .footer-call-content i {
        top: 1.5rem;
    }
    .footer-widget .footer-blog li {
        padding-left: 8rem;
    }
    .footer-widget .footer-blog li img {
        height: 6.5rem;
        width: 6.5rem;
    }
    .footer-widget .footer-blog li .content h3 {
        font-size: 1.3rem;
    }
    .banner-six-content h1 {
        font-size: 5rem;
    }
    .banner-six-shape img {
        height: 58rem;
    }
    .case-study-item2 .icon-services {
        font-size: 4.5rem;
        margin-bottom: 1rem;
    }
    .case-study-item2 .more-btn {
        width: 3rem;
        height: 3rem;
        line-height: 3.9rem;
        font-size: 1.6rem;
        border-top-left-radius: 1.4rem;
        border-bottom-right-radius: 0rem;
    }
    .case-study-item2 h3 {
        margin-bottom: 1rem;
    }
}

@media only screen and (min-width: 1800px) {
    .service-shape img {
        max-width: 50rem;
    }
    .counter-shape .shape1 img {
        max-width: 100%;
    }
    .counter-shape .shape2 img {
        max-width: 100%;
    }
    .client-circle .client-circle-1 {
        left: 5%;
    }
    .client-circle .client-circle-2 {
        left: 15%;
    }
    .client-circle .client-circle-3 {
        left: 5%;
    }
    .client-circle .client-circle-4 {
        right: 30%;
    }
    .client-circle .client-circle-5 {
        right: 15%;
    }
    .client-circle .client-circle-6 {
        right: 5%;
    }
    .client-circle .client-circle-7 {
        right: 45%;
    }
    .banner-slider-area .owl-dots {
        right: 20%;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1299px) {
    .clients-area .owl-nav .owl-prev {
        left: -2%;
    }
    .clients-area .owl-nav .owl-next {
        right: -2%;
    }
    .about-img::before {
        right: -2rem;
    }
    .call-shape .shape2 {
        right: -1rem;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 117rem;
    }
    .container-max {
        max-width: 130rem !important;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1400px) {
    .client-circle .client-circle-1 {
        left: 5%;
    }
    .client-circle .client-circle-2 {
        left: 15%;
        top: 17%;
    }
    .client-circle .client-circle-3 {
        left: 5%;
    }
    .client-circle .client-circle-4 {
        right: 30%;
    }
    .client-circle .client-circle-5 {
        right: 15%;
    }
    .client-circle .client-circle-6 {
        right: 5%;
    }
    .client-circle .client-circle-7 {
        right: 45%;
    }
}

@media only screen and (max-width: 991px) {
    .mobile-nav .logo .logo-two {
        display: none;
    }
    .mobile-nav nav .navbar-nav {
        height: 30rem;
        overflow-y: scroll;
    }
    .side-bar-area {
        margin-left: 0;
    }
    .side-bar-widget {
        border: 0.1rem solid var(--color-bg-subtle);
        padding: 2rem;
        margin-bottom: 3rem;
    }
    .side-bar-widget .side-bar-categories {
        margin-bottom: 0;
    }
    .side-bar-widget .side-bar-widget-tag {
        margin-bottom: 0;
    }
    .side-bar-widget .blog-gallery {
        margin-bottom: 0;
    }
    .side-bar-widget .widget-popular-post {
        margin-bottom: 0;
    }
    .call-shape {
        display: none;
    }
    .call-contact {
        text-align: center;
        padding: 5rem 0 3rem;
    }
    .call-contact h3 {
        font-size: 1.8rem;
    }
    .call-contact .call-btn {
        font-size: 2.6rem;
    }
    .call-contact p {
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }
    .contact-info ul li {
        display: inline-block;
        margin-right: 2rem;
    }
    .contact-info ul li:last-child {
        margin-right: 0;
    }
    .blog-item .blog-img2 .blog-tag {
        padding: 1.1rem 1.5rem 0.6rem;
    }
    .blog-item .blog-img2 .blog-tag h3 {
        font-size: 1.8rem;
        margin-bottom: 0;
    }
    .blog-item .blog-img2 .blog-tag span {
        font-size: 1.3rem;
    }
}
